#jumbotron{
    background-color:#85D595;
}

.img-responsive{
    width: inherit;
}

#navbar{
    border-radius: 5px;
}

#titulo{
    font-size: 70px;
}

footer .col-sm-6 {
    min-height: 120px;
}
 .img-container{
     width: 400px;
     height: 250px;
     padding: 5px;
 }

 .img-info{
    width: 600px;
    height: 350px;
    padding: 5px;
 }

